# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# DATABASE_URL="postgresql://postgres:postgres@localhost:5432/yape_transactions?schema=public"
DATABASE_URL="mysql://root@localhost:4000/yape_transactions"

TRANSACTION_SERVICE_NAME=transactions
TRANSACTION_API_NAME="Yape Transaction API"
TRANSACTION_APP_API_PORT="3000"
TRANSACTION_APP_API_ADDRESS="0.0.0.0"
TRANSACTION_APP_API_PATH=graphql
TRANSACTION_APP_API_MASKED_ERRORS=true

ANTIFRAUD_SERVICE_NAME=antifraud
ANTIFRAUD_API_NAME="Yape Antifraud API"
ANTIFRAUD_API_PORT="3001"
ANTIFRAUD_API_ADDRESS="0.0.0.0"

ENVIRONMENT=development

QUEUE_URL=localhost:19092

KEYCLOAK_URL="http://localhost:8083"
KEYCLOAK_REALM=yape
KEYCLOAK_CLIENT_ID="yape-trasaction-api"
KEYCLOAK_SECRET=QI9kXlZjkK3nww9nwoVgCkYQ3gPNLN2G
KEYCLOAK_ADMIN_USER=admin
KEYCLOAK_ADMIN_PASSWORD=admin
KEYCLOAK_DB_ROOT_USER=root
KEYCLOAK_DB_ROOT_PASSWORD=Secret123
KEYCLOAK_DB_USER=root
KEYCLOAK_DB_PASSWORD=yape
KEYCLOAK_DB_NAME=yape

I18N_FALLBACK_LANGUAGE=es